################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/agentic-ai-crash-course/starter-agent/.vs
/agentic-ai-crash-course/starter-agent/bin/Debug/net10.0
/agentic-ai-crash-course/starter-agent/obj
