################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/agentic-ai-crash-course/a-starter-agent/.vs
/agentic-ai-crash-course/a-starter-agent/bin/Debug/net10.0
/agentic-ai-crash-course/a-starter-agent/obj
/agentic-ai-crash-course/b-structured-output/.vs
/agentic-ai-crash-course/b-structured-output/bin/Debug/net10.0
/agentic-ai-crash-course/b-structured-output/obj
/agentic-ai-crash-course/.vs/AgenticAiCrashCourse.slnx
/agentic-ai-crash-course/LLMSupport/obj
/agentic-ai-crash-course/LLMSupport/bin/Debug/net10.0
/agentic-ai-crash-course/.vs/ProjectEvaluation
